<div class="container">
<br>
  <div class="card p-5">

    <h1>Edit Local</h1>
    <%= simple_form_for [@booking] do |f| %>
      <%= f.input :checkin_date %>
      <%= f.input :checkout_date %>
      <%= f.input :pet_name %>
      <%= f.input :pet_type %>
      <%= f.input :pet_weight %>
      <%= f.submit %>
    <% end %>

    </div>
</div>
  