<div class="container">
<br>
  <div class="card p-5">
    <h1>New Booking</h1>
    <%= simple_form_for [@local, @booking] do |f| %>
      <%= f.input :checkin_date %>
      <%= f.input :checkout_date %>
      <div class="row">
        <div class="col">
          <%= f.input :pet_name %>
        </div>
        <div class="col">
          <%= f.input :pet_type %>
        </div>
        <div class="col">
          <%= f.input :pet_weight %>
        </div>
      </div>
      <%= f.submit %>
    <% end %>

    <%= link_to "Decline" , local_path(@local) %>
  </div>
</div>