<h1>NEW BOOKING</h1>
<%= simple_form_for [@local, @booking] do |f| %>
  <%= f.input :checkin_date %>
  <%= f.input :checkout_date %>
  <%= f.input :pet_name %>
	<%= f.input :pet_type %>
  <%= f.input :pet_weight %>
  <%= f.submit %>
<% end %>

<%= link_to "Decline" , local_path(@local) %>