<h1>Successfully Booked!</h1>

  <h4>Name:</h4>
  <p><%= @booking.local.name %></p>
  <br>

  <h4>E-mail:</h4>
  <p><%= @booking.user.email %></p>
  <br>

  <h4>Check-in: </h4>
  <p><%= @booking.checkin_date %></p>
  <br>

  <h4>Check-out:</h4>
  <p><%= @booking.checkout_date %></p>
  <br>

  <h4>Your pet name:</h4>
  <p><%= @booking.pet_name %></p>
  <br>

  <h4>Pet type:</h4>
  <p><%= @booking.pet_type %></p>
  <br>

  <h4>Pet weight:</h4>
  <p><%= @booking.pet_weight %></p>
  <br>


  <h4>Status:</h4>
  <p><%= @booking.status %></p>
  <br>
  <%= link_to 'Back', locals_path %> |
  <%= link_to 'Edit', edit_booking_path(@booking) %> |
  <%= link_to 'Delete', booking_path(@booking), method: :delete, data: { confirm: "Are you sure?" } %>

  
