<h1>Your Booking (Show)</h1>
 
  <p><%= @booking.local.name %></p>
  <p><%= @booking.user.email %></p>
  <p><%= @booking.checkin_date %></p>
  <p><%= @booking.checkout_date %></p>
  <p><%= @booking.pet_name %></p>
  <p><%= @booking.pet_type %></p>
  <p><%= @booking.pet_weight %></p>
  <p><%= @booking.status %></p>
  <%= link_to 'Back', locals_path %>
  <%= link_to 'Edit', edit_booking_path(@booking) %>
  <%= link_to 'Delete', booking_path(@booking), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger" %>
  
  