<!--<h1>Your Booking (Show)</h1>
  <%  %>

  <p><%= @booking.checkin_date %></p>
  <p><%= @booking.checkout_date %></p>
  <p><%= @booking.pet_name %></p>
  <p><%= @booking.pet_type %></p>
  <p><%= @booking.pet_weight %></p>
  <p><%= @booking.status %></p>
  <%= link_to 'Back', locals_path %> -->

  <!-- <%= link_to 'Edit', edit_local_path(@local) %> 
  <%= link_to 'Delete', local_path(@local), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger" %> -->